<h1>Main page. HERE MAH SNIPPETS</h1>


<div id="kind-nav">
  <% @kinds.each do |kind|%>
    <li>
      <%= link_to kind.name, kind_path(kind) %>
    </li>
  <% end %>
</div>



<% @snippets.each do |snippet| %>

  Title: <%= link_to snippet.title, snippet_path(snippet) %>
  
  <div>
    <%= markdown(snippet.body) %>
  </div>


  <hr>
<% end %>

